[Unit]
Description=Redis container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a apollodb
ExecStop=/usr/bin/docker stop -t 2 apollodb

[Install]
WantedBy=default.target