[Unit]
Description=Redis container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a apolodb
ExecStop=/usr/bin/docker stop -t 2 apolodb

[Install]
WantedBy=default.target